header {
  background-color: aqua;
  min-height: 30px;
  padding: 10px;
}

.container {
  min-height: 300px;
  background-color: blue;
}

.logo-bar {
  background-color: orange;
  width: 80%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.card-1 {
  width: 500px;
  height: 300px;
  margin: 15px auto;
  background-color: pink;
}
