* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-cyan {
  background-color: cyan;
  min-height: 50px;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.bg-orange {
  background-color: #daa520;
  min-height: 40px;
}

.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}

.align {
  align-items: center;
}
.bordered {
  border: 2px dashed black;
}
.card-box {
  min-height: 400px;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-blue {
  background-color: #00008b;
  min-height: 50px;
}

.bg-viola {
  background-color: #ee82ee;
  min-height: 50px;
}
.card-box > .container {
  width: 50%;
  min-height: 250px;
}

.bg-white {
  background-color: white;
}
.first-section {
  padding: 20px 0;
}

.big {
  min-height: 350px;
}
.bigger {
  min-height: 550px;
}

.first-block {
  width: 60%;
}

.second-block {
  width: 40%;
}

.bg-azure {
  background-color: #1e90ff;
}

.bg-pink {
  background-color: pink;
}
.bg-grey {
  background-color: #d3d3d3;
}
.bg-green {
  background-color: #228b22;
}
.bg-darkgray {
  background-color: #23272a;
}
.bg-salmon {
  background-color: #f08080;
}
.bg-teal {
  background-color: #20b2aa;
}
.bg-aquamarine {
  background-color: #7fffd4;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: 25%;
}
.footer-top {
  border: 1px solid lightgray;
}

.footer-top,
.footer-bottom {
  padding: 2rem 0;
}
