* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  background-color: cyan;
  min-height: 50px;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.bg-orange {
  background-color: #daa520;
}

.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}

.align {
  align-items: center;
}
.bordered {
  border: 2px dashed black;
}
